

body{
    background-color: red !important;
    background-image: none;
}


total-orders{
    background-color: blue !important;
    background-image: none;
}


orders-delivered{
    background-color: red;
    background-image: none;
}

orders-pending{
    background-color: #22ddb7;
    background-image: none;
}

