
    body{
        background-color:white;
    }


    total-orders{
        background-color: blue;
    }


    #orders-delivered{
        background-color: red;
    }

    orders-pending{
        background-color: #22ddb7;
    }
